.news-article h1 {
     display: block;
     font-size: 2em;
     margin-top: 0.67em;
     margin-bottom: 0.67em;
     margin-left: 0;
     margin-right: 0;
     font-weight: bold;
}

.news-article h2 {
     display: block;
     font-size: 1.5em;
     margin-top: 0.83em;
     margin-bottom: 0.83em;
     margin-left: 0;
     margin-right: 0;
     font-weight: bold;
}

.news-article h3 {
     display: block;
     font-size: 1.17em;
     margin-top: 1em;
     margin-bottom: 1em;
     margin-left: 0;
     margin-right: 0;
     font-weight: bold;
}

.news-article h4 {
     display: block;
     margin-top: 1.33em;
     margin-bottom: 1.33em;
     margin-left: 0;
     margin-right: 0;
     font-weight: bold;
}

.news-article h5 {
     display: block;
     font-size: .83em;
     margin-top: 1.67em;
     margin-bottom: 1.67em;
     margin-left: 0;
     margin-right: 0;
     font-weight: bold;
}

.news-article h6 {
     display: block;
     font-size: .67em;
     margin-top: 2.33em;
     margin-bottom: 2.33em;
     margin-left: 0;
     margin-right: 0;
     font-weight: bold;
}

.news-article ul, .news-article ol {
     display: block;
     list-style: disc outside none;
     margin: 0 0;
     padding: 0 0 0 40px;
}

.news-article ol {
     list-style-type: decimal;
}

.news-article li {
     display: list-item;
}

.news-article ul ul,
.news-article ol ul {
     list-style-type: circle;
     margin-left: 15px;
}

.news-article ol ol,
.news-article ul ol {
     list-style-type: lower-latin;
     margin-left: 15px;
}